.canvas {
  width: 500px;
  height: 920px;
  position: absolute;
  z-index: -20;
  top: 0px;
  left: 50px;
}
.main__container {
  position: absolute;
  top: 150px;
  left: 80px;
}
.main__container .container {
  display: flex;
  position: relative;
}
.main__container .canvas_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  display: none;
}
.main__container .showing {
  display: block;
}
