.canvas {
  width: 500px;
  height: 920px;
  position: relative;
  z-index: -20;
}
.canvas .screen {
  z-index: -19;
}
.canvas .container {
  width: 432px;
  height: 650px;
  background-color: whitesmoke;
  z-index: -18;
}
.canvas .header_bar {
  margin-bottom: 10px;
}

.canvas .container {
  display: flex;
  position: relative;
}
.canvas .container .canvas_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 432px;
  height: 650px;
}
.canvas .container .canvas_mask {
  z-index: 3;
}
.canvas .showing {
  display: block;
}
