.Duo {
  margin-top: 50px;
  background-color: white;
  width: 400px;
  height: 830px; /*고정 w,h 반응형 x */
  border-radius: 40px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  /* background-image: url("../bg\ \(3\).jpg"); */
  background: linear-gradient(
      to bottom,
      rgba(233, 235, 239, 0.01),
      rgba(0, 255, 0, 0.1) 45%,
      rgba(174, 0, 255, 0.1) 55%,
      rgba(233, 235, 239, 0.01) 100%
    ),
    url("./images/duo1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* box-shadow: -100px -500px 1000px #8e54e9 inset; */
}
.Duo .header_bar {
  text-align: center;
}
.Duo .cross-hair {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.Duo .cross-hair .corss-hair__img {
  width: 100%;
  height: 100%;
  background: url("./images/selector-square-border.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.Duo .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Duo .navbar .navbar__column {
  width: 100%;
}
.Duo .navbar .navbar__column:nth-child(1) .navbar__listitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Duo .navbar .navbar__column:nth-child(1) .item-name {
  background: red;
}
.Duo .navbar .navbar__column:nth-child(1) .item-picture {
}
.Duo .navbar .navbar__column:nth-child(1) .item-picture .item-picture__img {
}
.Duo .navbar__quick {
}
