.logo {
  margin-top: 50px;
  background-color: white;
  /*핸드폰 처럼 보이는 한 세트*/
  width: 400px;
  height: 830px; /*고정 w,h 반응형 x */

  border-radius: 40px;
  /* box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
          30px 30px 40px rgba(118, 146, 180, 0.18); */
  /*--------------------------------------*/
  overflow: hidden;
  /* 오버플로는 박스모델에서 content를 넘어가는 것들을 어떻게 처리하는지
        overflow: visible | hidden | scroll | auto 
        */
  padding: 20px;
  position: relative;
  /* background-image: url("../bg\ \(3\).jpg"); */
  background: linear-gradient(to bottom, #e684ae80, #79cbca85, #77a0d377),
    url("./images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* box-shadow: -100px -500px 1000px #8e54e9 inset; */
}
.phone .phone__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.logo .content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
}
.logo .content__logo {
  width: 100px;
  height: 100px;
  background-image: url("./images/aperture.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: none;
}
