@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f8f7ff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 12px;
  /*color에서  alpha값을 주면 글자만 흐릿해 지네, opacity주면 글자고뭐고 다 흐릿해지는데,*/
  color: rgba(68, 61, 61, 0.4);
  font-weight: 600; /* 400 or 600 = 기본 or 굵게 */
}

a {
  text-decoration: none; /* 밑줄을 제거 해준다.*/
  color: #e2273e; /*파란 텍스트 색깔은 바꿔둬 */
  font-weight: 600;
}

.phone {
  margin-top: 50px;
  background-color: white;
  /*핸드폰 처럼 보이는 한 세트*/
  width: 350px;
  height: 700px; /*고정 w,h 반응형 x */

  border-radius: 40px;
  box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(118, 146, 180, 0.18);
  /*--------------------------------------*/
  overflow: hidden;
  /* 오버플로는 박스모델에서 content를 넘어가는 것들을 어떻게 처리하는지
  overflow: visible | hidden | scroll | auto 
  */
  padding: 20px;
}

.screen {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  border-radius: 25px;
  padding: 0px 20px;
  padding-top: 30px;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #443d3d;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.form .form__input {
  all: unset;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-transform: lowercase;
  border: 1px solid rgba(211, 211, 211, 0.3);
}

.form .form__input::placeholder {
  opacity: 0.5;
}

.form .form__input:first-child {
  margin-bottom: 20px;
}

.form .form__link {
  align-self: flex-end;
  margin-bottom: 20px;
  font-size: 10px;
}

.form .form__remember {
  margin-bottom: 50px;
}

.form__remember .form__checkbox {
  all: unset; /*form 에서 특히나 많이 쓰이는 all:unset -> checkbox*/
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: 1px solid rgb(180, 177, 177);
  position: relative;
}
/*before는 해당 태그의 바로 전에 간단한 텍스트를 삽입하는 것이다. */
.form__remember .form__checkbox:checked:before {
  /*디게 의문이다. fant awesome 쓰려면 아래를 해주야 되나보다.*/
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  content: "\f00c"; /*add fontawesome by css uni code*/
  position: absolute;
  font-size: 9px;
  top: 1px;
  color: #e2273e;
}

.btn {
  all: unset;
  padding: 13px 0px;
  text-align: center;
  width: 100%;
  background-color: #e2273e;
  color: white;
  font-size: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.social .social__title {
  color: #443d3d;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.7;
  font-size: 11px;
}

.social .social__buttons {
  display: flex;
  margin-bottom: 40px;
}

.social__buttons .social__btn:first-child {
  background-color: #475a95;
  margin-right: 15px;
}

.social__buttons .social__btn:last-child {
  background-color: #5ca1f2;
}

.links .links__link:first-child {
  margin-bottom: 7px;
}
