@import "reset.css";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f8f7ff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 16px;
  /*color에서  alpha값을 주면 글자만 흐릿해 지네, opacity주면 글자고뭐고 다 흐릿해지는데,*/
  /* color: rgba(68, 61, 61, 0.4); */
  font-weight: 600; /* 400 or 600 = 기본 or 굵게 */
}
.phone {
  margin-top: 50px;
  background-color: white;
  /*핸드폰 처럼 보이는 한 세트*/
  width: 400px;
  height: 830px; /*고정 w,h 반응형 x */

  border-radius: 40px;
  /* box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(118, 146, 180, 0.18); */
  /*--------------------------------------*/
  overflow: hidden;
  /* 오버플로는 박스모델에서 content를 넘어가는 것들을 어떻게 처리하는지
  overflow: visible | hidden | scroll | auto 
  */
  padding: 20px;
  position: relative;
  /* background-image: url("../bg\ \(3\).jpg"); */
  background-image: url("../bg\ \(3\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: -100px -500px 2000px white inset;
}
.phone .phone__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.screen {
  width: 100%;
  height: 100%;

  border-radius: 25px;
  padding: 20px 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.status_bar,
.header_bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header_bar {
  margin-bottom: 200px;
}
.status_bar__column:nth-child(2) i {
  font-size: 14px;
}
.header_bar .header_bar__column {
}
.header_bar__column i {
  font-size: 20px;
}
.pictures {
  margin-bottom: 25px;
}
.picture img {
  width: 50px;
  height: 50px;
}
.pictures .pictures__picture {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.picture .picture__plus {
  width: 50px;
  height: 50px;
  background-color: #3f67ff;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
}
.picture .picture__item,
.picture__item .picture__plus {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture__item img,
.picture__item .picture__plus {
  border-radius: 10px;
  margin-right: 12px;
}
.content {
}
.content .content__tag-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.content__tag-bar .tag {
  margin-right: 5px;
  background-color: #e1e7f9;
  color: #3f67ff;
  height: 30px;
  padding: 5px 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
}
.content .content__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.content__title > h1 {
  font-size: 32px;
  font-weight: 700;
}
.content__title .title__heartbox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title__heartbox i {
  color: red;
}
.content .content__location {
  color: #3f67ff;
  margin-bottom: 15px;
}
.content__location .loaction__name {
  opacity: 0.4;
  font-weight: 400;
}

.content .content__ratings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content__ratings .ratings__column {
}
.ratings__column .ratings__score > i {
  color: #ffbc00;
}
.ratings__column > span {
  font-size: 18px;
}
.content .content__article {
  opacity: 0.4;
}
.content__article > h3 {
  font-size: 12px;
  margin-bottom: 5px;
}
.content__article .article__summary {
  font-size: 17px;
  margin-bottom: 5px;
  line-height: 30px;
}
.content__article span {
  color: #3f67ff;
}

.navbar {
  position: absolute;
  bottom: -20px;
  right: 0px;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background-color: white;
  padding: 0px 20px;
}
.navbar .navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.navbar__listitem > i {
  font-size: 23px;
  opacity: 0.6;
}

.navbar__list .navbar__listitem {
  height: 80px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__list > .navbar__listitem:nth-child(2) {
  border-top: 3px solid #3f67ff;
  color: #3f67ff;
}
.navbar__list > .navbar__listitem:nth-child(2) > i {
  opacity: 1;
}
.navbar__list > .navbar__listitem:nth-child(3) {
  position: relative;
}

.navbar__listitem .navbar__map {
  background-color: #3f67ff;
  color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 20px;
  position: absolute;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 10px gainsboro;
}
